@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;1,200&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;