@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;1,200&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.social-custom-class .social-svg-icon {
    fill: #4f7df3 !important;
}

.social-custom-class .social-svg {
    color: white;
    border: 1px solid #eeeef7;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.social-custom-class:hover .social-svg-icon {
    fill: white !important;
}

.social-custom-class:hover .social-svg {
    color: #4f7df3;
}